<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Citytech_Banner::manage"
             title="Manage Banners"
             module="Citytech_Banner"
             sortOrder="90"
             parent="Magento_Backend::admin"
             action="citytech_banner/banner/index"
             resource="Citytech_Banner::manage"/>
    </menu>
</config>

